/* * {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 160;
    font-family: Arial, Helvetica, sans-serif;
} */

/* h1,h2,h3,h4,h5,h6 { 
    margin: 0;
    color:#444a57;
    font-size: 1.5rem;
    font-weight: 666;
    text-transform: capitalize;
} */



.home {
    padding: 10rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./images/Aurora-Background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color:darkslategray
}

.home .name{
    max-width: 50rem;    
}

.home .name h3{
    font-size: 7rem;
    text-transform: capitalize;
    color: whitesmoke; 
}

.home .name p{
    margin-top: 1rem;
    color: whitesmoke;
    font-size: 2rem;
    padding: 1rem 0;
    
}

.hbc {
    margin-top: 2rem ;
    text-align: left;
}

.hb{
    
    border: 5px solid green;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    padding: 18px;
    
    cursor: pointer;
    transition: 0.5s;
}

.hb1 {
    background-color: darkslategray;
    color: #fff;
}

.hb1:hover{
    color: #fff;
}

.hb::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: darkslategray;
    
    transition: 0.5s;
    
}

.cars .car-box .add{
    background-color: darkslategray;
    color: #fff;
    margin-top: 10px;
    border: 2px solid black;
}




    /* button
    {
        background-color: cornflowerblue;
        transition-duration: 0.5s;
        width: 30%;
        height: 2rem;
        border: 0;
    }

    button:hover
    {
        cursor: pointer;
        background-color: blueviolet;
    } */


body
{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;

    header {grid-column: 1/-1;}

    header
    {
        grid-column: 1/-1;
        background-color: darkslategrey;
        color: white;
        text-align: center;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        /* #img-id
        {
            height: auto;
        } */

        .navigation
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        ul
        {
            
            /* list-style: none;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly; */
            
            li {
                transition-duration: 0.5s;
                a {
                    text-decoration: none;
                    line-height: 2rem;
                    color: white;
                    size: smaller;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }

            li:hover {
                background-color: red;
            }
        }
    }

    /* Light Grey: #CCCCCC
Light Blue: #6CA6CD
Dark Green: #2E8B57
Silver: #C0C0C0
Pale Yellow: #FFFF99 */

    main
    {
        /* background-color: #C0C0C0; */
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;

        .home {grid-column: 1/-1;}
    }

    .home h1{
        margin-top: 5rem;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 4%;

        a {text-decoration: none; color: darkslategray;}
    }



    .services {
        grid-column: 2/-2;
        
        margin-top: 5rem;
        /* margin-bottom: 5rem; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: auto;

        .service-bracket {
            box-shadow: 0rem 0.1rem 1rem lightgray;
            border-radius: 0.5rem;
            text-align: justify;
            padding: 1rem; 
            margin: 0.5rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: default;
            
            transition-duration: 0.5s;
            width: 30%;
            height: 100%;

            h3 {text-align: center; transition-duration: 0.5s;}

            img {width: 100%; margin-bottom: 0.5rem;}

            p {margin-bottom: 0.5rem;}
        }
        .service-bracket:hover {background-color: whitesmoke;box-shadow: 0rem 0.1rem 1rem gray;}
    }


    .seller-area
    {
        grid-column: 2/-2;
        text-align: center;
        margin-top: 5rem;
        padding: 5rem;

        box-shadow: 0rem 0.1rem 1rem lightgray;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        .sell-button
        {
            background-color: cornflowerblue;
            padding: 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition-duration: 0.5s;
        }
        .sell-button:hover {background-color: blueviolet;}
    }
    .seller-area:hover {box-shadow: 0rem 0.1rem 1rem gray;}


    .search
    {
        grid-column: 2/-2;

        border: 0;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;

        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

        box-shadow: 0rem 0.1rem 1rem lightgray;
        transition-duration: 0.5s;

        a {text-decoration: none; text-align: center; h1 {font-size: 2rem;}}

        div
        {
            margin: 1rem;
            width: auto;

            label {font-weight: bold;}
            select {width: 100%; height: 2rem; background-color: whitesmoke; border: 0; margin-top: 1rem;}
            input {width: 100%; height: 2rem; background-color: whitesmoke; border: 0;  margin-top: 1rem;}
            button {width: 100%; height: 2rem; background-color: cornflowerblue; border: 0; transition-duration: 0.5s;  margin: 1rem 0.5rem 0rem 0rem;}
            button:hover {background-color: blueviolet; cursor: pointer;}

            .reset-search-form{background-color: orangered; margin-left: 0.5rem; margin-right: 0rem;}
            .reset-search-form:hover{background-color: red;}
        }
    }
    .search:hover {box-shadow: 0rem 0.1rem 1rem gray;}

    .featured-cars
    {
        grid-column: 2/-2;
        text-align: center;
        margin: 5rem 0rem;

        .cars
        {
            padding: 1rem;

            margin-top: 4rem;
            /* border: 1px solid black; */
            border-radius: 0.5rem;
            transition-duration: 0.5s;
            box-shadow: 0rem 0.1rem 1rem lightgray;

            display: grid;
            align-items: stretch;
            column-gap: 0.5rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .car-box
            {
                width: 100%;
                border: 0;
                box-shadow: 0rem 0.1rem 1rem lightgray;
                transition-duration: 0.5s;
            }
        }
        .cars:hover {box-shadow: 0rem 0.1rem 1rem gray;}
    }

    .search-cars-guest, .search-cars-div, .search-cars, .search-cars-admin
    {
        grid-column: 2/-2;
        display: grid;
        margin-top: 5rem;
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: whitesmoke;

        /* height: 100%; */
        place-items: center;
        box-shadow: 0rem 0.1rem 1rem lightgray;
        transition-duration: 0.5s;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .search-car-object
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 1rem;
        row-gap: 1rem;
        text-align: center;

        border-radius: 0.5rem;
        box-shadow: 0rem 0.1rem 1rem lightgray;
        background-color: white;
        transition-duration: 0.5s;
        margin: 0.5rem;

        place-content: center;
        height: 95%;

        img
        {
            width: 100%;
            border-radius: 0.5rem;
        }

        .add-to-cart
        {
            background-color: cornflowerblue;
            cursor: pointer;
            transition-duration: 0.5s;
            padding: 0.5rem;
            border-radius: 0.5rem;
            width: 100%;
        }
        .add-to-cart:hover {background-color: blueviolet;}
    }
    .search-car-object:hover {box-shadow: 0rem 0.1rem 1rem gray;}
    .search-cars-guest:hover {box-shadow: 0rem 0.1rem 1rem gray;}

    .contact-us
    {
        grid-column: 2/-2;
        margin-top: 2rem;
        a { text-decoration: none; h1 {text-align: center; font-size: 2rem;} }

        .form-content
        {
            border: 0;
            border-radius: 0.25rem;
            padding: 1rem 15%;
            margin-top: 2rem;

            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;

            box-shadow: 0rem 0.1rem 1rem lightgray;
            transition-duration: 0.5s;

            p {text-align: center; margin-top: 1rem;}

            div
            {
                margin: 1rem;
                width: auto;

                h4 {font-size: 1.25rem;}
                textarea {width: 100%; height: 8rem; background-color: whitesmoke; border: 0;  margin-top: 1rem;}
                input {width: 100%; height: 2rem; background-color: whitesmoke; border: 0;  margin-top: 1rem;}
                button {width: 100%; height: 2rem; background-color: cornflowerblue; border: 0; transition-duration: 0.5s;}
                button:hover {background-color: blueviolet; cursor: pointer;}
            }
        }
        .form-content:hover {box-shadow: 0rem 0.1rem 1rem gray;}
    }

    .reviews
    {
        grid-column: 2/-2;
        margin-top: 5rem;
        a { text-decoration: none; h1 {text-align: center; font-size: 3rem;} }

        .review-box {
            margin-top: 2rem;
            display: grid;
            align-items: stretch;
            column-gap: 0.5rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        .review-bracket {
            box-shadow: 0rem 0.1rem 1rem lightgray;
            transition-duration: 0.5s;
            cursor: default;
            border: 2px solid lightgrey;
            border-radius: 0.25rem;
            padding: 1.5rem; 
            margin: 1rem;
            text-align: center; 
            width: auto;

            h5 {font-size: medium;}

            img {width: 100%; height: auto; margin-bottom: 1rem;}

            p {margin-bottom: 1rem;}
        }

        .review-bracket:hover {box-shadow: 0rem 0.1rem 1rem gray;}
    }


    .search-cars
    {
        grid-column: 2/-2;
        display: grid;
        margin-top: 5rem;
        border-radius: 0.5rem;
        padding: 1rem;

        box-shadow: 0rem 0.1rem 1rem lightgray;
        transition-duration: 0.5s;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .search-cars:hover {box-shadow: 0rem 0.1rem 1rem gray;}


    /* Styles for the cars section */
    .cars {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }


    /* Styles for individual car boxes */
    .cars {
        margin-top: 2rem;
        a { text-decoration: none; h1 {text-align: center; font-size: 3rem;} }

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .car-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(25% - 20px); 
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            box-sizing: border-box; 
            height: 45rem;

            &:nth-child(n + 5) {
                margin-top: 20px; 
            }

            &:nth-child(odd) {
                margin-right: 20px; 
            }

            img {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
                margin-bottom: 10px;
            }

            .car-info {
                font-weight: bold;
            }

            .car-name {
                margin-top: 10px;
                font-size: 18px;
            }

            .car-description {
                margin-top: 5px;
                font-size: 14px;
            }
            &:hover {
                box-shadow: 0rem 0.1rem 1rem gray; 
                cursor: pointer;
            }
            .add-cart-featured
            {
                background-color: cornflowerblue;
                transition-duration: 0.5s;
                border-radius: 0.5rem;
                padding: 0.5rem;
                height: auto;
                width: 100%;
            }
            .add-cart-featured:hover {background-color: blueviolet;}
        }
    }
}

footer
{
    grid-column: 1/-1;
    background-color: darkslategray;
    text-align: center;
    padding: 0.5rem;
    margin-top: 5rem;

    a {text-decoration: none; color: white;}
}

@media (min-width: 800px)
{
    body {
            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: nowrap;

                    padding: 0;

                    li {width: 25%; height: 100%; margin: 0;}
                }
            }

        .search
        {
            .search-car-form
            {
                display: grid;
                grid-template-rows: 4;
                grid-template-columns: 3;

                a {grid-area: heading-field; margin: 2rem;}
                .year-field {grid-area: year-field;}
                .car-type-field {grid-area: car-type-field;}
                .make-field {grid-area: make-field;}
                .model-field {grid-area: model-field;}
                .min-price-field {grid-area: min-price-field;}
                .max-price-field {grid-area: max-price-field;}
                .submit
                {
                    grid-area: submit-field;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }

                div
                {
                    transition-duration: 1s;
                    padding: 1rem;
                    select {transition-duration: 1s;}
                    input {transition-duration: 1s;}
                }

                div:hover:not(.submit)
                {
                    background-color: whitesmoke;
                    border-radius: 1rem;
                    select {background-color: white;}
                    input {background-color: white};
                }

                grid-template-areas:
                "heading-field heading-field heading-field"
                "year-field make-field model-field"
                "car-type-field min-price-field max-price-field"
                "submit-field submit-field submit-field";
            }
        }
    }
}

/* @media (max-width: 800px)
{
    .services
    {
        background-color: black;
        display: flex;
        flex-direction: column;
    }
} */